<dialog>
  <div class="overlay">
    <div class="overlay__content">
      <div class="overlay__close">
        <a href="#" class="overlay__close-button">
          <span class="icon icon--close"></span>
        </a>
      </div>
      <div class="overlay__body">
      </div>
    </div>
  </div>
</dialog>