<article>
  <h2>Offgrid Project</h2>
  <p>
    The Offgrid Project is designed to build a router engine on the client-side
    that can be used to build a single-page application. It is designed to be
    framework-agnostic.
  </p>
</article>